/* Provide sufficient contrast against white background */
@tailwind base;
@tailwind components;
@tailwind utilities;
a {
  color: #0366d6;
}
html {
  scroll-behavior: smooth;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.bg-navBar{
  background: #ffffff;
  padding: 20px;
}

.bg-image{
  background: url('./assets/xbox-background.jpg') no-repeat;
  background-size: cover;
}

.box-div{
  box-shadow: -2px 7px 13px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 7px 13px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 7px 13px 1px rgba(0,0,0,0.75);
}

.box-img{
  box-shadow: -1px 7px 12px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 7px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 7px 12px 0px rgba(0,0,0,0.75);
}

.list-image {
  list-style-type: none;
  background-image: url('https://static.vecteezy.com/system/resources/previews/001/200/261/non_2x/check-png.png');
  background-size: cover; /* O 'contain' según tus necesidades */
  background-repeat: repeat-y; /* Hace que la imagen se repita verticalmente */
  padding-left: 30px; /* Ajusta el espaciado según sea necesario */
  width: 300px; /* Ajusta el ancho según tus necesidades */
  margin: 0; /* Elimina el margen predeterminado del <ul> */
}
.list-image li {
  margin-bottom: 10px; /* Espaciado entre elementos de la lista */
}

.bg-xbox-green{
  background: rgb(63,163,100);
background: linear-gradient(0deg, rgba(63,163,100,1) 3%, rgba(38,130,64,1) 24%, rgba(0,0,0,1) 99%);
}

.modal-title{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

a {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del texto del elemento padre */
}

.mucha-animacion{
  color: hsla(0, 0%, 0%, .9);
  font: normal Varela Round, sans-serif;
  text-align: center;
  text-transform: uppercase;
  animation: move linear 2000ms infinite; 
}
@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  20% {    
    text-shadow:      
      -4px -4px 0 hsla(180, 100%, 50%, 1), 
      -3px -3px 0 hsla(180, 100%, 50%, 1), 
      -2px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1), 
      3px 3px 0 hsla(0, 100%, 50%, 1), 
      2px 2px 0 hsla(0, 100%, 50%, 1), 
      1px 1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1), 
      -3px 3px 0 hsla(0, 100%, 50%, 1), 
      -2px 2px 0 hsla(0, 100%, 50%, 1), 
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1), 
      3px -3px 0 hsla(180, 100%, 50%, 1), 
      2px -2px 0 hsla(180, 100%, 50%, 1), 
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  80% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1), 
      3px 3px 0 hsla(180, 100%, 50%, 1), 
      2px 2px 0 hsla(180, 100%, 50%, 1), 
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1), 
      -3px -3px 0 hsla(0, 100%, 50%, 1), 
      -2px -2px 0 hsla(0, 100%, 50%, 1), 
      -1px -1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }  
}

.hover-nav-items:hover{
  color:rgb(234 88 12 / var(--tw-border-opacity))
}